body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url('../assets/perro.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, p {
  color: #333;
}

#botonesAlimentos {
  margin-bottom: 20px;
  text-align: center;
}

button {
  margin: 5px;
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0056b3;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
}

button.active {
  background-color: white;
  color: #0056b3;
  border: 2px solid #004494;
}

button:hover {
  background-color: #5a9bd4;
  transform: scale(1.05);
}

.btn-limpiar {
  background-color: #ff3d3d;
}

.btn-limpiar:hover {
  background-color: #ff1a1a;
}

.chart-container {
  overflow-x: auto;
  height: 200px;
  overflow-y: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 15px 0;
  padding: 15px;
}

#radarChart {
  width: 100%;
  height: 100% !important;
}