body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: linear-gradient(to right, #6a11cb, #2575fc); 
}

#buttons {
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0056b3; 
  color: white; 
  transition: background-color 0.3s ease, transform 0.2s; 
}

button.active {
  background-color: white; 
  color: #0056b3; 
  border: 2px solid #004494; 
}

button:hover {
  background-color: #5a9bd4; 
  transform: scale(1.05); 
}

.chart-container {
  overflow-x: auto; 
  height: 400px; 
  overflow-y: hidden; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: white; 
  margin: 15px; 
}

#myChart {
  width: 100%; 
  height: 100% !important; 
}


.container > div {
  margin-bottom: 20px;
}