
body {
  background: linear-gradient(to bottom, #007bff, #0056b3); 
  font-family: 'Arial', sans-serif; 
  color: #333; 
}


h2, h5 {
  color: #ffffff; 
}


#empresaForm {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 5px; 
  padding: 20px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}


button.primary {
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
}

button.primary:hover {
  background-color: #0056b3; 
}

button.tertiary {
  background-color: #6c757d; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
}

button.tertiary:hover {
  background-color: #5a6268; 
}


form {
  margin: 20px 0; 
}

.form-group label {
  font-weight: bold; 
}


.table-responsive {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 5px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.table th {
  background-color: #007bff; 
  color: white; 
}

.table td {
  color: #333;
}


#limpiar-registros {
  margin-top: 20px; 
}


.reporte-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin-top: 20px;
}