body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

#buttons {
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0056b3; /* Color de fondo normal */
  color: white; /* Color de texto normal */
}

/* Estilo para botones activos */
button.active {
  background-color: white; /* Color de fondo blanco para el botón activo */
  color: #0056b3; /* Color de texto azul para mejor contraste */
  border: 2px solid #004494; /* Un borde más oscuro para el botón activo */
}

button:hover {
  background-color: #5a9bd4; 
}

.chart-container {
  overflow-x: auto; /* Permite el scroll horizontal */
  height: 400px; /* Define la altura del contenedor */
  overflow-y: hidden; /* Evita el scroll vertical */
}

#myChart {
  width: 1200px; /* Establece un ancho fijo mayor que el contenedor */
  height: 100% !important; /* Asegura que la altura ocupe todo el contenedor */
}